@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/* start copy keycloak login css */
.login-pf body {
    background: #0f0f0f none top left no-repeat;
    background-size: cover;
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333;
}

[id="kc-locale ul"] {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 20px;
    top: 30px;
    width: 200px;
    padding: 2px;
}

[id="kc-locale:hover ul"] {
    display: block;
    margin: 0;
}

[id="kc-locale ul li a"] {
    display: block;
    padding: 1px 11px;
    color: #000 !important;
    border: 1px solid #fff;
    text-decoration: none;
    display: block;
    line-height: 20px;
}

[id="kc-locale ul li a:hover"] {
    color: #4d5258;
    background-color: #d4edfa;
    border-color: #b3d3e7;
}

[id="kc-locale-dropdown a"] {
    color: #fff;
}

[id="kc-locale-dropdown a:hover"] {
    text-decoration: none;
}

a[id="kc-current-locale-link"] {
    display: block;
    padding: 5px;
}

a[id="kc-current-locale-link:hover"] {
    background-color: rgba(0, 0, 0, 0.2);
}

a[id="kc-current-locale-link::after"] {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
    background: 0 none !important;
}

.login-pf a:hover {
    color: #0099d3;
}

[id="kc-logo"] {
    width: 100%;
}

[id="kc-logo-wrapper"] {
    background-repeat: no-repeat;

    height: 57px;
    width: 125px;
}

div.kc-logo-text {
    background-repeat: no-repeat;
    width: 250px;
    height: 38px;
}

div.kc-logo-text span {
    display: none;
}

[id="kc-header"] {
    color: #fff;
    overflow: visible;
    padding-left: 80px;
    white-space: nowrap;
}

[id="kc-header-wrapper"] {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-bottom: 15px;
}

[id="kc-content"] {
    position: relative;
}

[id="kc-content-wrapper"] {
    overflow-y: hidden;
}

[id="kc-info"] {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

[id="kc-info-wrapper"] {
    font-size: 13px;
}

[id="kc-form-options span"] {
    display: block;
}

[id="kc-terms-text"] {
    margin-bottom: 20px;
}

[id="kc-registration"] {
    margin-bottom: 15px;
}

/* TOTP */

ol[id="kc-totp-settings"] {
    margin: 0;
    padding: 0;
}

ol[id="kc-totp-settings li"] {
    margin-top: 1em;
}

ol[id="kc-totp-settings li:first-of-type"] {
    margin-top: 0;
}

[id="kc-totp-secret-qr-code"] {
    max-width: 150px;
    max-height: 150px;
}

/* OAuth */

[id="kc-oauth h3"] {
    margin-top: 0;
}

[id="kc-oauth ul"] {
    list-style: none;
    padding: 0;
    margin: 0;
}

[id="kc-oauth ul li"] {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px;
}

[id="kc-oauth ul li:first-of-type"] {
    border-top: 0;
}

[id="kc-oauth .kc-role"] {
    display: inline-block;
    width: 50%;
}

/* Code */
[id="kc-code textarea"] {
    width: 100%;
    height: 8em;
}

/* Social */

[id="kc-social-providers ul"] {
    padding: 0;
    margin: 0;
}

[id="kc-social-providers li"] {
    display: block;
    margin-top: 5px;
}

[id="kc-social-providers li:first-of-type"] {
    margin-top: 0;
}

@media (min-width: 768px) {
    [id="kc-container-wrapper"] {
        position: absolute;
        width: 100%;
    }

    [id="kc-logo-wrapper"] {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    [id="kc-locale"] {
        position: relative;
        width: 200px;
        left: -230px;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {

    [id="kc-logo-wrapper"] {
        background-position: center;
        width: 100%;
        margin: 20px 0;
    }

    [id="kc-header"] {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: center;
    }

    [id="kc-form"] {
        float: none;
    }

    [id="kc-info-wrapper"] {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    [id="kc-social-providers li"] {
        display: inline-block;
        margin-right: 5px;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    [id="kc-locale"] {
        position: absolute;
        width: 200px;
        top: 10px;
        right: 0px;
        text-align: right;
        z-index: 9999;
    }
}

@media (min-height: 646px) {
    [id="kc-container-wrapper"] {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    [id="kc-container-wrapper"] {
        padding-top: 50px;
        top: 20%;
    }
}

/* end copy keycloak login css */

/* start custom css */
body {
    background-color: #fff;
    background-image: none;
}

body::before {
    z-index: -2;
    background-image: url(../img/rect.png), url(../img/bg-blue.png);
    background-repeat: no-repeat, repeat-y;
    background-size: contain, 100%;
    background-position: right bottom;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body::after {
    background-image: url(../img/triangle-bottom.png);
    background-position: right bottom;
    background-size: contain;
    z-index: -1;
}

[id="kc-logo-wrapper"] {
    background-image: url(../img/fundrequest-logo-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 200px;
}

/* default keycloak overrides*/
body {
    font-family: Roboto, sans-serif;
}

form input[type=text],
form input[type=password],
select {
    background-image: none;
    border: 1px solid white;
    padding: 2px 10px;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    line-height: 20px;
    height: auto;
}

form input[type=text]:focus,
form input[type=password]:focus,
form select:focus {
    border: 1px solid #4285f4;
}

@media (min-width: 768px) {
    [id="kc-container-wrapper"] {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

@media (min-height: 646px) {
    [id="kc-container-wrapper"] {
        padding: 0;
        top: 0;
        bottom: 0;
    }
}

@media (max-height: 645px) {
    [id="kc-container-wrapper"] {
        padding: 0;
        top: 0;
        bottom: 0;
    }
}

[id="kc-header"] {
    height: 50%;
    display: table;
}

[id="kc-content"] {
    height: 50%;
    bottom: 0 !important;
}

[id="kc-header-wrapper"] {
    display: table-cell;
    vertical-align: bottom;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed #fff;
}

a:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

/*
form input[type=submit], form input[type=button] {
    background: #4285f4;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

form input[type=submit]:hover, form input[type=button]:hover {
    background: #4285f4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

form label {
    line-height: 24px;
    padding: 10px 0;
}
*/

form .required {
    color: red;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px
}

.alert h4 {
    margin-top: 0;
    color: inherit
}

.alert .alert-link {
    font-weight: 700
}

.alert > p, .alert > ul {
    margin-bottom: 0
}

.alert > p + p {
    margin-top: 5px
}

.alert .pficon {
    line-height: 20px;
    display: inline-block;
    position: static;
    vertical-align: text-bottom;
}

.alert-error .kc-feedback-text {
    display: inline-block;
    vertical-align: text-bottom;
    line-height: 20px;
}

.alert-error {
    display: inline-block;
    color: #a94442 !important;
    background-color: rgba(242, 222, 218, 0.5) !important;
    border: 1px solid #ebccd1;
}

.alert-error a {
    color: #843534;
}

@media (min-width: 768px) {
    .login-pf .container .details {
        border-left: 3px solid white;
    }
}

#kc-form {
    margin-bottom: 10px;
}
/* zocial */
#kc-social-providers ul {
    list-style: none;
    padding-left: 0;
}

#kc-social-providers a:hover {
    border: inherit;
}


.zocial {
    width: 150px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.zocial:hover {
    color: #fff !important;
    border: 1px solid transparent;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border-radius: 2px;

    font-weight: normal;

    box-shadow: none;
    text-shadow: none;
}

.zocial.google {
    background-color: #dd4b39 !important;
}

.zocial.facebook:focus,
.zocial.github:focus,
.zocial.google:focus,
.zocial.microsoft:focus,
.zocial.stackoverflow:focus,
.zocial.linkedin:focus,
.zocial.twitter:focus,
.zocial.facebook:hover,
.zocial.github:hover,
.zocial.google:hover,
.zocial.microsoft:hover,
.zocial.stackoverflow:hover,
.zocial.linkedin:hover,
.zocial.twitter:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft {background-color: #0052a4; color: #fff;}
.zocial.microsoft:before { content: "\f15d"; }

.zocial {
    margin-bottom: 10px;
    border-radius: 5px !important;
    border: 1px solid transparent !important;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.1) !important;
}

.zocial:active {
    margin-top: 3px;
    margin-left: 2px;
    margin-bottom: 7px;
    box-shadow: none !important;
}

#kc-registration a,
.btn-primary {
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.3333333;
    display: inline-block;
    outline: none !important;
    -webkit-appearance: none !important;
}

.btn-primary {
    background-color: #f48c48 !important;
}

.btn-primary:hover {
    background-color: #e68245 !important;
}

#kc-registration a:active,
.btn-primary:active {
    text-decoration: none;
    background-image: none;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    margin-top: 3px;
    margin-right: -2px;
    margin-bottom: -3px;
}

#kc-registration a:focus {
    border-color: transparent;
    text-decoration: none;
}

#kc-registration a {
    margin-left: 10px;
    border: 1px solid transparent;
    background: #0085cf !important;
}

#kc-registration a:hover,
.btn-primary:hover {
    border-color: transparent;
    text-decoration: none;
}

#kc-registration a:hover {
    background: #007ac3 !important;
}
